:root {
    --start-counter-z-index: 10;
    --font-size: 36px;

    --box-shadow-size-large-frame: 13px;
    --box-shadow-size-small-frame: 10px;


    --background-color: #fff;
    --main-color: var(--background-color);
    --leaderboard-color: var(--background-color);
    --icon-default-color: #898989;
    --warn-icon-color: #f00;
    --button-hover-color: #fff;
    
    --game-button-color: #e2e2e2;
    --game-button-disabled-color: #c9caca;
    --game-button-correct-color: #b3ffb3;
    --game-button-error-color: #f66;

    
    --font-color: #111;

    
    --icon-shadow: #0006;
    --main-shadow-color: #555a;
    --game-button-shadow-color: #5553;
    --game-button-disabled-shadow-color: #5555;
}

    :root.dark-mode {
        --box-shadow-size-large-frame: 22px;
        --box-shadow-size-small-frame: 15px;

        --background-color: #111;
        --main-color: #9f9f9f;
        --leaderboard-color: #7f7f7f;
        --icon-default-color: #ddd;
        --button-hover-color: #afafaf;
        

        --font-color: #fff;

        
        --main-shadow-color:#cccc;
    }

* {
    transition: color 200ms ease-in-out, 
                background 400ms ease-out,
                border 400ms ease-in-out;

    /* font-size: var(--font-size); */
    color: var(--font-color);
}

html, body, .main-box {
    margin: 0px;
    min-height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

body {
    width: 100%;
    background-color: var(--background-color);
}

.st0-svg {
    width: 100%;
    height: 100%;
}

.st0 {
    fill: var(--icon-default-color);
}

.main-box {
    margin: 10px 0;
    width: auto;
}

.icon, .mini-icon {
    width: 75%;
    height: 75%;
    box-sizing: border-box;
    pointer-events: none;
    filter: drop-shadow(-1px 1px 3px var(--icon-shadow));
}

    .icon > * {
        transform: translateY(-50%);
    }

.frame, .frame > div, .frame .frame-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame, frame *, .button, .button * {
    transition: background 50ms ease-in,
                border 50ms ease-in,
                box-shadow 50ms ease-in;
}

    .frame * {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-family: Bahnschrift SemiBold, monospace;
        font-size: var(--font-size);
        font-weight: bold;
    }

    .frame > div {
        border-radius: 10px;
        background: var(--main-color);
        margin: 0;
        overflow: hidden;
        box-shadow: 0 0 var(--box-shadow-size-small-frame) var(--main-shadow-color);
    }

    .frame .frame-box {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        pointer-events: none;
    }

.button > div:hover {
    background-color: var(--button-hover-color) !important;
}

.button:not(.game-box) > div:hover,
.button:not(.game-box) > div:active {
    transform: scale(1.1);
}

.button:not(.game-box) > div:active {
    box-shadow: 0px 0px var(--box-shadow-size-small-frame) var(--main-shadow-color);
    width: 97%;
    height: 97%;
}

h1 {
    font-size: calc(var(--font-size) * 2);
    font-family: Bahnschrift SemiBold, monospace;
}

body > div {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 540px;
}

.game-box {
    border: 30px solid var(--main-color);
    background-color: var(--main-color);
    border-radius: 24px;
    box-shadow: 0 0 var(--box-shadow-size-large-frame) var(--main-shadow-color);
    height: 500px;
    width: 500px;
    padding: 4px;
    position: relative;
    /*grid*/
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

    .game-box.pointer {
        cursor: pointer;
    }

    .game-box > .game-button {
        width: 100%;
        padding: 50% 0;
        aspect-ratio: 1;
        /* place-items: center; */
        background-color: var(--game-button-color);
        box-shadow: 0 0 var(--box-shadow-size-small-frame) var(--game-button-shadow-color);
    }

    .game-box.button > .game-button.tile-disabled {
        pointer-events: none;
        cursor: default;
        background-color: var(--game-button-disabled-color);
        box-shadow: 0 0 var(--box-shadow-size-small-frame) var(--game-button-disabled-shadow-color);
    }

    .game-box.button > .game-button.tile-correct {
        background-color: var(--game-button-correct-color) !important;
        animation: 175ms 1 game-button-correct;
    }

@keyframes game-button-correct {
    0% {
        animation-timing-function: ease-out;
    }

    10% {
        transform: translate(0, -10%);
        transform: scale(1.05);
    }

    50% {
        transform: scale(1.1);
        animation-timing-function: ease-in;
    }
}

.game-box.button > .game-button.tile-incorrect {
    background-color: var(--game-button-error-color) !important;
    animation: 56ms 4 linear game-button-incorrect;
}

@keyframes game-button-incorrect {
    20% {
        transform: translate(-5%, -5%);
    }

    50% {
        transform: translate(-5%, 5%);
    }

    60% {
        transform: translate(5%, 5%);
    }

    80% {
        transform: translate(5%, -5%);
    }
}

.ctrl-button {
    width: 72px;
    height: 72px;
}

    .ctrl-button > div {
        width: 100%;
        height: 100%;
        transition: box-shadow 15ms;
    }

.icon-bar {
    max-width: 360px;
    height: 72px;
    display: flex;
    flex-flow: row;
    gap: 8px;
    justify-content: start;
}

    .icon-bar > div {
        width: 56px;
        height: 56px;
    }

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.console {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    transition: transform 150ms;
}

    .console:first-of-type {
        margin-bottom: 20px;
    }

    .console:last-of-type {
        margin-top: 40px;
    }

/*timer*/
clock {
    height: 100%;
    width: 100%;
    font-size: calc(var(--font-size) * 1.1) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Bahnschrift SemiBold, monospace;
    position: relative;
    overflow: hidden;
}

    clock:before {
        content: "";
        background: conic-gradient( rgba(0, 0, 0, 0.3) var(--time-left), rgba(0, 0, 0, 0.1) var(--time-left));
        position: absolute;
        opacity: 0.8;
        height: 100%;
        width: 100%;
    }

    clock:after {
        content: attr(data-before);
    }

    clock.beat:after {
        animation: 1s infinite timer_beat;
    }

@keyframes timer_beat {
    40%, 80% {
        transform: none;
    }

    50% {
        transform: scale(1.125);
    }
}

/* start count */
.game-start-count, .game-start-count * {
    transition: all 0ms;
}

.game-start-count {
    filter: drop-shadow(1px -1px 16px var(--main-shadow-color));
    visibility: hidden;
    position: absolute;
    z-index: var(--start-counter-z-index);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%;
}

    .game-start-count.count {
        visibility: visible;
    }

    .game-start-count > div {
        width: 100%;
        height: 100%;
        overflow: hidden !important;
        background-color: var(--main-color) !important;
        mask-image: url(../svg/icon/start.svg);
        mask-size: 100%;
        mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-image: url(../svg/icon/start.svg);
        -webkit-mask-size: 100%;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
    }

.game-box.pointer:hover .game-start-count > div,
.game-box.pointer:active .game-start-count > div {
    transform: scale(1.125);
}

.game-box.pointer:active .game-start-count > div {
    transform: scale(1.0625);
}

.game-start-count > div::after {
    --top: 21%;
    --bottom: 58%; /* 100 - 21 - 21 = 58 */
    content: "";
    position: absolute;
    z-index: 30;
    top: var(--top);
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.125);
    transform: translateY(var(--bottom));
}

.game-start-count.count > div::after {
    animation: var(--count-time) linear forwards timer_indicator;
}

@keyframes timer_indicator {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(var(--bottom));
    }
}

/* other */
.colorful-texts {
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: start;
}

.colorful-text {
    color: var(--color);
}

:root.dark-mode .colorful-text {
    color: var(--dark-color);
}

@media only screen and (max-width: 620px) and (min-width: 420px), only screen and (max-height: 812px) and (min-height: 710px) {
    :root {
        --font-size: 27px;

        --box-shadow-size-large-frame: 11px;
        --box-shadow-size-small-frame: 9px;
    }

    :root.dark-mode {
        --box-shadow-size-large-frame: 19px;
        --box-shadow-size-small-frame: 14px;
    }

    .frame {
        border-width: 7px;
    }

    .game-box {
        width: 400px;
        height: 400px;
        gap: 10px;
        border-width: 23px;
    }

    .ctrl-button {
        width: 56px;
        height: 56px;
    }

    .icon-bar {
        max-width: 270px;
        height: 56px;
    }

        .icon-bar > div {
            width: 42px;
            height: 42px;
        }

    .console:first-child {
        margin-bottom: 45px;
    }

    .console:last-child {
        margin-top: 45px;
    }
}



@media only screen and (max-width: 420px), only screen and (max-height: 710px) {
    :root {
        --font-size: 23px;

        --box-shadow-size-large-frame: 5px;
        --box-shadow-size-small-frame: 5px;
    }

    :root.dark-mode {
        --box-shadow-size-large-frame: 10px;
        --box-shadow-size-small-frame: 9px;
    }

    .frame {
        border-width: 5px;
    }

    .game-box {
        width: 300px;
        height: 300px;
        gap: 7px;
        border-width: 15px;
    }

    .ctrl-button {
        width: 48px;
        height: 48px;
    }

    .icon-bar {
        max-width: 240px;
        height: 48px;
    }

        .icon-bar > div {
            width: 38px;
            height: 38px;
        }

    .console:first-child {
        margin-bottom: 30px;
    }

    .console:last-child {
        margin-top: 30px;
    }
}

.center1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.hidden {
    visibility: hidden;
}

.disable {
    display: none;
}

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: var(--main-color);
    width: 450px;
    z-index: calc(var(--start-counter-z-index) + 10);
    /*text-align: center;*/
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px var(--main-shadow-color);
    border-radius: 10px;
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: var(--main-color);
    font-size: calc(var(--font-size) * 0.7);
    font-weight: 600;
    line-height: 30px;
    /*text-align: center;*/
    border-radius: 50%;
}


/* .popup.active .overlay {
    display: block;
} */

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

h3 {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: calc(var(--font-size) * 0.7);
    text-shadow: 0px 0px 11px var(--main-shadow-color);
    font-family: Bahnschrift SemiBold, monospace;
}

div.title {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: calc(var(--font-size) * 0.55);
    text-align: left;
    line-height: 1.25;
    font-family: Bahnschrift SemiBold, monospace;
}

div.text {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: calc(var(--font-size) * 0.44);
    text-align: left;
    line-height: 1.25;
    font-family: Bahnschrift, monospace;
}

div.remark {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 9.75px;
    text-align: left;
    line-height: 1.25;
    font-family: Bahnschrift, monospace;
}

.mistake-icon {
    background-color: var(--icon-default-color);
    overflow: hidden;
    mask-image: url(../svg/icon/mistake.svg);
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: url(../svg/icon/mistake.svg);
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

    .mistake-icon.mistake {
        animation: 65ms 4 linear game-button-incorrect;
    }

        .mistake-icon.mistake::after {
            content: "";
            width: 100%;
            height: 100%;
            background-color: var(--warn-icon-color);
            border-radius: 50%;
            animation: 450ms 1 mistake_anim;
        }

@keyframes mistake_anim {
    0% {
        transform: scale(0.1);
        animation-timing-function: ease-out;
    }
}
